html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url("../images/fondo_contador.jpg");
    /*background-repeat: no-repeat, repeat;*/
}

h1 {
    font-size: 28pt;
    letter-spacing: 12px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

h2.subtitle {
    margin-top: 0px;
    margin-bottom: 40px;
}

#container {
    margin: 250px auto;
    width: 700px;
    color: #555;
}

#countdown_dashboard {
    height: 110px;
}

.dash {
    width: 110px;
    height: 114px;
    background: transparent url('../images/dash.png') 0 0 no-repeat;
    float: left;
    margin-left: 20px;
    position: relative;
}

.dash .digit {
    font-size: 55pt;
    font-weight: bold;
    float: left;
    width: 55px;
    text-align: center;
    font-family: Times;
    color: #555;
    position: relative;
}

.dash_title {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 6px;
    font-size: 9pt;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dev_comment {
    font-size: 14pt;
    color: #777;
    text-align: center;
    font-style: italic;
    margin: 40px 10px;
}

#subscribe_form {
    position: relative;
} 

#email_field {
    font-size: 16pt;
    padding: 6px 10px;
    width: 300px;
}

#subscribe_button {
    font-size: 14pt;
    color: #333;
    padding: 4px 8px;
}

.copyright {
    font-size: 9pt;
    color: #333;
    margin: 40px 0px;
}

.faded {
    color: #999;
}

.form_message {
    width: 400px;
    padding: 10px;
    margin: 15px auto;
    display: none;
}

#error_message {
    background-color: #ffe;
    border-left: 5px solid #bb3;
    border-right: 5px solid #bb3;
    color: #770;
}

#info_message {
    background-color: #f0f9ff;
    border: 1px solid #eef;
}

#loading {
    text-align: center;
    margin: 10px;
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
}